<div class="container mt-5">
  <div class="row">
    <div class="offset-md-1 col-md-10">
      <%= form_with(model: note, local: true, class:"mt-4 mt-md-0") do |form| %>
        <% if note.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>
          <ul>
            <% note.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end %>

        <div class="field">
          <%= form.label :trading_method %>
          <%= form.text_field :trading_method, class: "form-control", id: :note_trading_method %>
        </div>

        <div class="field">
          <label for="pair">取引ペア</label>
          <ul class="box flexbox" >
            <% %w(USD/JPY EUR/USD EUR/JPY GBP/JPY GBP/USD EUR/GBP AUD/JPY AUD/USD EUR/GBP NZD/JPY NZD/USD).each.with_index do |pair,i| %>
            <li class="flexbox__item"><%= form.check_box :pair, {multiple: true}, pair, nil %> <%= pair %></li>
            <% end %>
          </ul>
        </div>

        <div class="field">
          <label for="order">注文</label>
          <ul class="box flexbox">
            <li class="flexbox__item"><%= form.radio_button :order, "SELL" %> SELL</li>
            <li class="flexbox__item"><%= form.radio_button :order, "BUY" %> BUY</li>
          </ul>
        </div>

        <div class="field">
          <%= form.label :lot %>
          <%= form.text_field :lot, class: "form-control", id: :note_lot %>
        </div>

        <div class="field">
          <%= form.label :entry_rate %>
          <%= form.text_field :entry_rate, class: "form-control", id: :note_entry_rate %>
        </div>

        <div class="field">
          <label for="entry_date">ENTRY DATE</label>
          <div class="ckeditor_layout">
          <%= form.datetime_select :entry_date, :use_month_numbers => true, id: :note_entry_date %>
          </div>
        </div>

        <div class="field">
          <%= form.label :contract_rate %>
          <%= form.text_field :contract_rate, class: "form-control", id: :note_contract_rate %>
        </div>

        <div class="field">
          <label for="contract_date">CONTRACT DATE</label>
          <div class="ckeditor_layout">
          <%= form.datetime_select :contract_date, :use_month_numbers => true, id: :note_contract_date %>
          </div>
        </div>

        <div class="field">
          <label for="comment">COMMENT</label>
          <div class="ckeditor_layout">
          <%= form.cktext_area :comment, id: :note_comment %>
          </div>
        </div>

        <div class="field">
          <label for="score">評価</label>
          <ul class="box flexbox">
            <li class="flexbox__item"><%= form.radio_button :score, "USEFUL" %> USEFUL</li>
            <li class="flexbox__item"><%= form.radio_button :score, "UNUSEFUL" %> UNUSEFUL</li>
            <li class="flexbox__item"><%= form.radio_button :score, "KEEP" %> KEEP</li>
          </ul>
        </div>

        <div class="form-group">
          <%= form.submit 'Upload New Note', :class=>"btn-shine-orange" %>
        </div>
      <% end %>
    </div>
  </div>
</div>