<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto text-center">
        <h2 class="section-heading">Your Account</h2>
        <hr class="orange my-4">

　　　  <div class="text-center">
          <h5 class="service-heading">USERNAME</h4>
            <%= @user.name %>
        </div>
　　　　<div class="text-center">
          <h5 class="service-heading">EMAIL</h4>
            <%= @user.email %>
        </div>
　　　　<div class="text-center">
          <h5 class="service-heading">PASSWORD</h4>
            ********
        </div>
        <div class="text-center">
            <%= link_to 'EDIT', edit_user_registration_path(current_user),class:'btn-shine-orange' %>
        </div>
      </div>

    <hr class="fade-2">

      <div class="col-lg-6 mx-auto">
        <h2 class="section-heading text-center">Your Trading_method</h2>
        <hr class="blue my-4">
          <% @trading_methods.each do |trading_method| %>
          <div class="card-box">
            <div class="card-title">
              <h2><%= trading_method.title %></h2>
              <p><%= trading_method.introduction %></p>
            </div>
            <div class="card-link">
              <%= link_to 'Show', trading_method, class:"c-link" %>　<%= link_to "edit", edit_trading_method_path(trading_method.id), class:"c-link-edit" %>　<%= link_to "delete", trading_method_path(trading_method.id), method: :delete, data:{confirm: 'Are You Sure？'}, class:"c-link-edit" %>
            </div>
          </div>
          <% end %>
      </div>
    </div>
  </div>
</section>