<section>
  <div class="container">

    <div class="row">
      <div class="col-sm-4 offset-sm-2 text-center">
        <%= link_to "All Methods", trading_methods_path, class:"btn-shine-mini" %>
      </div>
      <div class="col-sm-4 text-center">
        <%= link_to "Post New Methods", new_trading_method_path, class:"btn-shine-mini" %>
      </div>
      <div class="col-sm-1 text-center">
        <%= link_to image_tag("heart_red.png", width:'23px'), favorites_user_path(current_user.id), class:"btn-shine-mini" %>
      </div>
      <div class="col-sm-1 text-center">
        <%= link_to image_tag("useful_yellow.png", width:'23px'), usefuls_user_path(current_user.id), class:"btn-shine-mini" %>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">Useful Trading Methods</h2>
        <hr class="blue my-4">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <% @usefuls_trading_methods.reverse_each do |trading_method| %>
        <div class="row">
          <div class="col-md-12">
            <div class="card-box">
              <div class="card-title">
                <h2><%= trading_method.title %></h2>
                <p><%= trading_method.introduction %></p>
              </div>
              <div class="card-link">
                <%= link_to 'Show', trading_method, class:"c-link" %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
          
      <div class="d-none d-lg-block col-lg-3">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
          <div class="tradingview-widget-copyright">TradingViewによる<a href="https://jp.tradingview.com" rel="noopener" target="_blank"><span class="blue-text">マーケットデータ</span></a></div>
          <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
           {
             "showChart": true,
             "locale": "ja",
             "largeChartUrl": "",
             "width": "100%",
             "height": "600",
             "plotLineColorGrowing": "rgba(60, 188, 152, 1)",
             "plotLineColorFalling": "rgba(255, 74, 104, 1)",
             "gridLineColor": "rgba(233, 233, 234, 1)",
             "scaleFontColor": "rgba(214, 216, 224, 1)",
             "belowLineFillColorGrowing": "rgba(60, 188, 152, 0.05)",
             "belowLineFillColorFalling": "rgba(255, 74, 104, 0.05)",
             "symbolActiveColor": "rgba(242, 250, 254, 1)",
             "tabs": [
             {
               "title": "指数",
               "symbols": [
                 {"s": "OANDA:USDJPY"},
                 {"s": "OANDA:EURUSD"},
                 {"s": "OANDA:EURJPY"},
                 {"s": "OANDA:AUDJPY"},
                 {"s": "OANDA:GBPJPY"},
                 {"s": "OANDA:US30USD"}
                 ],
               "originalTitle": "Indices"
             },
             {
               "title": "商品先物",
               "symbols": [
                 {"s": "CME_MINI:ES1!","d": "E-Mini S&P"},
                 {"s": "CME:E61!","d": "Euro"},
                 {"s": "COMEX:GC1!", "d": "Gold"},
                 {"s": "NYMEX:CL1!","d": "Crude Oil"},
                 {"s": "NYMEX:NG1!","d": "Natural Gas"},
                 {"s": "CBOT:ZC1!","d": "Corn"}
                 ],
               "originalTitle": "Commodities"
              },
              {"title": "国債",
               "symbols": [
                 { "s": "CME:GE1!",
                   "d": "Eurodollar"
                 },
                 { "s": "CBOT:ZB1!",
                   "d": "T-Bond"
                 },
                 { "s": "CBOT:UD1!",
                   "d": "Ultra T-Bond"
                 },
                 { "s": "EUREX:GG1!",
                   "d": "Euro Bund"
                 },
                 { "s": "EUREX:II1!",
                   "d": "Euro BTP"
                 },
                 { "s": "EUREX:HR1!",
                   "d": "Euro BOBL"
                 }
               ],
                "originalTitle": "Bonds"
               },
               {
                "title": "FX",
                "symbols": [
                 { "s": "FX:EURUSD"
                 },
                 { "s": "FX:GBPUSD"
                 },
                 { "s": "FX:USDJPY"
                 },
                 { "s": "FX:USDCHF"
                 },
                 { "s": "FX:AUDUSD"
                 },
                 { "s": "FX:USDCAD"
                 }
                 ],
                 "originalTitle": "Forex"
                }
                ]
               }
          </script>
        </div>
        <!-- TradingView Widget END -->
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright">TradingViewによる<a href="https://jp.tradingview.com/markets/currencies/economic-calendar/" rel="noopener" target="_blank"><span class="blue-text">経済カレンダー</span></a></div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-events.js" async>
        {
         "width": "100%",
         "height": "600",
         "locale": "ja",
         "importanceFilter": "1",
         "currencyFilter": "USD,EUR,GBP,DEM,ITL,JPY,CNY,AUD"
        }
        </script>
        </div>
<!-- TradingView Widget END -->
        </div><!--/span-->
      </div><!--/row-->
  </div>

</section>